<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
      <directoryBrowse enabled="true" />
  </system.webServer>
  <system.webServer>
  <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
    <remove statusCode="404"/>        
    <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />   
  </httpErrors>
</system.webServer>
</configuration>